<template>
  <v-app>
    <v-main>
      <v-container class="fill-height">
        <v-row align="center" justify="center">
          <v-col cols="12" md="6">
            <div class="text-center">
              <img src="../assets/img/welcome.svg" alt width="80%" />
              <h2 class="font-weight-light">Ritcabuchi</h2>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {};
</script>

<style>
</style>