<template>
  <v-app-bar flat color="transparent" absolute dark height="120px">
    <v-layout justify-center>
      <v-container>
        <v-layout>
          <div
            :class="{'display-1 font-weight-bold': $vuetify.breakpoint.smAndUp,'title font-weight-bold': $vuetify.breakpoint.smAndDown, }"
          >Rit Cabuchi</div>
          <v-spacer></v-spacer>
          <v-toolbar-items class="text-right">
            <v-btn text @click="$vuetify.goTo('#about')">About</v-btn>
            <v-btn text>My Work</v-btn>
            <v-btn text @click="$vuetify.goTo('#contact')">Contact</v-btn>
          </v-toolbar-items>
        </v-layout>
      </v-container>
    </v-layout>
  </v-app-bar>
</template>

<script>
export default {};
</script>

<style>
</style>