<template>
  <div>
    <v-container class="fill-height">
      <v-row align="center" justify="center">
        <v-col md="6">
          <h1>Im ritcabuchi</h1>
          <v-btn color="blue">More detail</v-btn>
        </v-col>
        <v-col md="6">
          <div>
            <v-img :src="require('../assets/header.svg')" contain />
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- <v-footer dark>
      <p>2020</p>
    </v-footer>-->
  </div>
</template>
<script>
export default {
  name: "landing"
};
</script>