<template>
  <v-app>
    <app-bar></app-bar>
    <v-main style="background-color: white">
      <router-view></router-view>
      <!-- <landing></landing> -->
    </v-main>
  </v-app>
</template>

<script>
// import Landing from "./components/Landing";
import Appbar from "./components/Appbar";
export default {
  name: "App",
  components: {
    "app-bar": Appbar
    // Landing
  },

  data: () => ({
    //
  })
};
</script>
